{
  "presets": ["next/babel"],
  "plugins": [
    ["transform-do-expressions"],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "assets": "./assets",
          "components": "./components",
          "pages": "./pages",
          "public": "./public",
          "services": "./services",
          "store": "./store",
          "utils": "./utils"
        }
      }
    ],
    [
      "import",
      { "libraryName": "antd", "style": true }
    ]
  ]
}
